
.intro-component_active {
    position: absolute;
    left: 0;
    bottom: 0;
    
    z-index: 2;
    width:50%;
    border: 0;
    @include respond-to(landscape-mobile) {
        width: 39.21875%;
        padding-left: 20px;
    }
    
    @include respond-to(landscape-tablet) {
        border-right: 1px solid #9b9b9b;
        padding-left: 40px;
    }
    
    @include respond-to(xsmall-screen) {padding-left: 80px;}
    @include respond-to(large-screen) {padding-left: 148px;}
}


.close-icon {
    position: absolute;
    right: 55px;
    z-index: 5;
    top: 20px;
    @include respond-to(portrait-tablet) {top: 25px;}
    @include respond-to(xsmall-screen) {top: 40px;}
}

.section__col--services-info_is-active {
    display: none;
}




.section__col--service-details_is-active {
    width: 60.78%;
    height: auto;
    padding-top: 55.85107421875%;
    position: relative;
    
    @extend .multiply-blend-bg;

    background-image: url(../images/service-side-bg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    
    @include respond-to(landscape-tablet) {
        width: 60.8%;
    }
}

.section__col--service-details__info-wrapper_is-active {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.details-section-close {
    float: right;
    margin: 41px 61px 0 0;
    cursor: pointer;
}

.our-services-details-text {
    margin: 80px 0 0 20px;
    width: 75%;
    @include respond-to(portrait-tablet) {
        margin: 40px 0 0 20px;
        width: 85%;
    }
    
    @include respond-to(landscape-tablet) {
        margin: 80px 0 0 40px;
        width: 65%;
    }
    
    @include respond-to(xsmall-screen) {margin: 90px 0 0 90px;}
    @include respond-to(large-screen) {margin: 112px 0 0 133px;}
}

.section__col--process-details_is-active {
    width: 100%;
    position: absolute;
    background-image: url(../images/process-side-bg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 0;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    
    @extend .multiply-blend-bg;
        
    @include respond-to(portrait-tablet) { width: 60.78%;}
}

.section__col--process-details__info_is-active {
    display: none;
}

.section__col--process-details__info-content {
    display: none;
}

.section__col--process-details__info-content_is-active {
    width: 100%;
    position: relative;
    height: 100%;
}

.section__col--process-details__info-content_is-active:after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.process-details__steps {
    width: 100%;
    position: relative;
    height: auto;
    
    @include respond-to(landscape-tablet) {height: 100%;}
}


.process-details__steps__item {
    float: left;
    width: 100%;
    border-bottom: 1px solid $white;
    height: auto;
    padding: 20px 30px 20px 20px;

    @include respond-to(xportrait-mobile) {padding: 15px 20px 15px 20px;}
    @include respond-to(landscape-tablet) {padding: 20px 100px 20px 45px;}
    @include respond-to(xsmall-screen) {
        height: 100%;
        width: 25%;
        border-right: 1px solid #FFFFFF;
        border-bottom: 0;
        padding: 50px 18px 15px 20px;
    }
    @include respond-to(medium-screen) {padding: 80px 20px 20px 25px;}
    @include respond-to(large-screen) {padding: 118px 30px 0 44px;} 
}
 
.process-details__steps__item:last-child {
    border: none;
}

.number {  
    color: #FFFFFF;
    font-family: Roboto-Bold;
    letter-spacing: 0;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    
    @include respond-to(landscape-tablet) {
        font-size: 30px;
        line-height: 32px;
    }
    
       
    @include respond-to(xsmall-screen) {
        margin-bottom: 28px;
        font-size: 40px;
        line-height: 45px;
        display: block;
    }
    
     @include respond-to(small-screen) {
        margin-bottom: 28px;
        font-size: 45px;
        line-height: 50px;
    }
    
    @include respond-to(large-screen) {
        font-size: 50px;
        line-height: 58px;
        margin-bottom: 39px;
    }
}


.process-details__steps__item__icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin: 0 8px;
    
    @include respond-to(landscape-tablet) {
        width: 40px;
        height: 40px;
    }
    
     @include respond-to(xsmall-screen) {
        width: 45px;
        height: 45px;
    }
    
    @include respond-to(small-screen) {
        width: 50px;
        height: 50px;
    }
    
    @include respond-to(large-screen) {
        width: 70px;
        height: 70px;
    }
}



.process-details__steps__item__title {
    font-family: $title;
    color: $white;
    letter-spacing: 0;
    font-size: 20px;  
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    
    @include respond-to(landscape-tablet) {
        font-size: 22px;  
        line-height: 22px;
    }
    
    @include respond-to(xsmall-screen) {
        font-size: 24px;
        line-height: 28px;
        margin: 15px 0;
    }
    
    @include respond-to(small-screen) {
        font-size: 28px;
        line-height: 32px;
        margin: 20px 0;
    }
    
    @include respond-to(large-screen) {
        font-size: 32.24px;
        line-height: 34px;
    }
}

.process-details__steps__item__desc {
    font-family: $body;
    color: $white;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    
    @include respond-to(landscape-tablet) {
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
    }
    
    @include respond-to(xsmall-screen) {
        font-size: 18px;
        line-height: 20px;
    }
    
    @include respond-to(small-screen) {
        font-size: 18px;
        line-height: 20px;
    }
    
    @include respond-to(large-screen) {
        font-size: 20.86px;
        line-height: 22px;
    }
}

.section__col--contatc-info_is-active {
    width: 100%;
    height: auto;
    padding: 40px 0 0 20px;
    @include respond-to(portrait-tablet)
    {
      padding: 40px 0 0 40px;  
    }
    @include respond-to(landscape-tablet) {
        padding: 68px 0 0 40px;
    width: 39.21875%;
    }
    
    @include respond-to(xsmall-screen) {
        padding: 96px 0 0 80px;
    }
    
    @include respond-to(large-screen) {padding: 116px 0 0 148px;}
}

.section__col--conatct-form_is-active {
    display: none;
}


.section__col--contact-details_is-active {
    position: relative;
    height: auto;
    padding-top: 55.85107421875%;
    width: 100%;
    margin-top: 15px;
    
    @include respond-to(landscape-tablet) {
        width: 60.78%;
        margin-top: 0;
    }
}

.section__col--contact-details__info_is-active {
    display: none;
}
