.section__col--contatc-info {
    width: 100%;
    height: auto;
    padding: 40px 0 0 20px;
    @include respond-to(portrait-tablet)
    {
      padding: 40px 0 0 40px;  
    }
    @include respond-to(landscape-tablet) {
        padding: 68px 0 0 40px;
        width: 44.0625%;
    }
    
    @include respond-to(xsmall-screen) {
        padding: 96px 0 0 80px;
    }
    
    @include respond-to(large-screen) {padding: 96px 0 0 80px;}
}


.section__col--contatc-info_is-active {
    padding: 116px 0 0 148px;
}

.section__info {
    height: auto;
    margin-top: 30px;
    @include respond-to(xsmall-screen){margin-top: 47px;}
    @include respond-to(large-screen){margin-top: 57px;}
}


.section__info__item {
    font-family: $title;
    color: $black;
    letter-spacing: 0;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    
    @include respond-to(xsmall-screen) {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 25px;
    }
    
    @include respond-to(large-screen) {
        font-size: 22px;
        margin-bottom: 40px;
    }
}



.section__info__item_small {
    font-family: $small-body;
    line-height: 20px;
    
    @include respond-to(xsmall-screen) {line-height: 30px;}
}


.section__copyright {
    width: 100%;
    font-family: $small-body;
    color: #9B9B9B;
    border-top: 1px solid #9B9B9B;
    display: none;
    font-size: 16px;
    line-height: 20px;
    padding-top: 26px;
    
    @include respond-to(landscape-tablet) {display: block;}
    @include respond-to(xsmall-screen) {
        padding-top: 18px;
        font-size: 18px;
    }
    
    @include respond-to(small-screen) {
        padding-top: 38px;
        font-size: 20px;
        line-height: 25px;
    }
    
    @include respond-to(large-screen) {
        padding-top: 44px;
        font-size: 22px;  
    }
}


.section__col--conatct-form {
    border-left: 1px solid #9b9b9b;
    height: auto;
    width: 100%;
    padding: 40px 40px 80px 20px;
    
    @include respond-to(landscape-mobile) {padding: 40px 100px 80px 20px;}
    @include respond-to(portrait-tablet) {padding: 40px 100px 80px 40px;}
    @include respond-to(landscape-tablet) {
        padding: 80px 40px 90px 25px;
        width: 39.21875%;
    }
    
    @include respond-to(xsmall-screen) {padding: 128px 60px 134px 40px;}
    @include respond-to(small-screen) {padding: 125px 70px 110px 54px;}
    @include respond-to(medium-screen) {padding: 127px 87px 142px 70px;}
    @include respond-to(large-screen) {padding: 141px 91px 223px 87px;}
}
 

.section__form__title {
    font-family: $title;
    color: #535456;
    font-size: 22px;
    @include respond-to(xsmall-screen) {font-size: 26px;}
    @include respond-to(medium-screen) {font-size: 30px;}
    @include respond-to(large-screen) {font-size: 34px;}
}

.section__form {
    width: 100%;
    height: auto;
    margin-top: 20px;
    @include respond-to(portrait-tablet) {margin-top: 40px;}
    @include respond-to(large-screen) {margin-top: 66px;}
}

.section__form__input {
    font-family: $small-body;
    border: 1px solid #9B9B9B;
    border-radius: 0;
    color: #9B9B9B;
    width: 100%;
    font-size: 16px;
    @include respond-to(xsmall-screen) {font-size: 18px;}
    @include respond-to(large-screen) {font-size: 22px;}
}

.section__form__input_small {
    padding: 18px 0 17px 18px;
    margin-bottom: 20px;
    
    @include respond-to(xsmall-screen) {
        padding: 24px 0 22px 18px;
        margin-bottom: 31px;
    }
    
    @include respond-to(medium-screen) {padding: 28px 0 25px 18px;}
    @include respond-to(large-screen) {
        padding: 32px 0 29px 18px;
        margin-bottom: 41px;
    }
}

.section__form__input_big {
    padding: 18px 0 130px 18px;
    margin-bottom: 25px;
    
    @include respond-to(medium-screen) {
        padding: 18px 0 120px 18px;
        margin-bottom: 25px;
    }
    
    @include respond-to(large-screen) {
        padding: 20px 0 190px 18px;
        margin-bottom: 39px;
    }
}

.section__form__input__btn {
    background: $black;
    color: $white;
    border: 0;
    padding: 18px 0 17px 0;
    @include respond-to(xsmall-screen) {padding: 25px 0 23px 0;}
    @include respond-to(medium-screen) {padding: 28px 0 25px 0;}
    @include respond-to(large-screen) {padding: 31px 0 30px 0;}
}




.section__col--contact-details {
    position: relative;
    height: auto;
    display: none;
    padding-top: 61.7%;
    width: 16.71875%;
    @include respond-to(landscape-tablet) {
        display: block;
    }
    
    @include respond-to(small-screen) {padding-top:55.85107421875%;}
    @include respond-to(large-screen) {padding-top: 63.851074%;}
    @include respond-to(xlarge-screen) {padding-top: 55.85107421875%;}    
    
}

.section__col--contact-details__map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.section__col--contact-details__map:after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.clear-overlay_is-active:after {
    content: none;
}

.section__col--contact-details__info {
    @extend .section__col--process-details__info;
}

.section__side-text__icon {
    position: relative;
    top: 20px;
    @include respond-to(xsmall-screen) {top: 25px;}
    @include respond-to(large-screen) {top: 31px;}
}

.pin-icon {
    width:44px;
    height: 62px;
     @include respond-to(xsmall-screen) {
        width:54px;
        height: 72px;
    }
    
    @include respond-to(large screen) {
        width:64px;
        height: 82px;
    }
    
}