.section__col--contatc-info {
    width: 44.0625%;
    height: auto;
    padding: 116px 0 0 148px;
    
    @include respond-to(larg-screen) {padding: 96px 0 0 80px;}
    @include respond-to(l-tablet) {padding: 68px 0 0 40px;}
    @include respond-to(p-tablet) {
        width: 100%;
        padding: 40px 0 0 40px;
    }
    
    @include respond-to(larg-mobile) {padding: 40px 0 0 20px;}
}

.section__col--contatc-info_is-active {
    width: 39.22%;
}

.section__info {
    margin-top: 57px;
    height: auto;
    
    @include respond-to(larg-screen) {margin-top: 47px;}
    @include respond-to(l-tablet) {margin-top: 30px;}
}

.section__info__item {
    font-family: $title;
    font-size: 22px;
    color: $black;
    letter-spacing: 0;
    margin-bottom: 40px;
    line-height: 25px;
    display: block;
    
    @include respond-to(larg-screen) {
        margin-bottom: 25px;
        font-size: 20px;
    }
    
    @include respond-to(l-tablet) {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 16px;
    }
}

.section__info__item_small {
    font-family: $small-body;
    line-height: 30px;
    
    @include respond-to(l-tablet) {line-height: 20px;}
}


.section__copyright {
    width: 100%;
    border-top: 1px solid #9B9B9B;
    padding-top: 44px;
    font-family: $small-body;
    font-size: 22px;
    color: #9B9B9B;
    line-height: 25px;
    
    @include respond-to(larg-screen) {
        padding-top: 38px;
        font-size: 20px;
    }
    
    @include respond-to(small-screen) {
        padding-top: 18px;
        font-size: 18px;
    }
    
    @include respond-to(l-tablet) {
        font-size: 16px;
        line-height: 20px;
        padding-top: 26px;
    }
    
    @include respond-to(p-tablet) {display: none;}
}


.section__col--conatct-form {
    width: 39.21875%;
    height: auto;
    border-left: 1px solid #9b9b9b;
    padding: 141px 91px 223px 87px;
     
    @include respond-to(larg-screen) {padding: 127px 87px 142px 70px;}
    @include respond-to(medium-screen) {padding: 125px 70px 110px 54px;}
    @include respond-to(small-screen) {padding: 128px 60px 134px 40px;}
    @include respond-to(l-tablet) {padding: 80px 40px 90px 25px;}
    
    @include respond-to(p-tablet) {
       width: 100%;
       padding: 40px 100px 80px 40px;
    }
    
    @include respond-to(larg-mobile) {padding: 40px 100px 80px 20px;}
    @include respond-to(medium-mobile) {padding: 40px 40px 80px 20px;}
}
 
.section__form__title {
    font-family: $title;
    font-size: 34px;
    color: #535456;
    
    @include respond-to(larg-screen) {font-size: 30px;}
    @include respond-to(medium-screen) {font-size: 26px;}
    @include respond-to(l-tablet) {font-size: 22px;}
}

.section__form {
    margin-top: 66px;
    width: 100%;
    height: auto;
    
    @include respond-to(larg-screen) {margin-top: 40px;}
    @include respond-to(larg-mobile) {margin-top: 20px;}
}

.section__form__input {
    width: 100%;
    font-family: $small-body;
    font-size: 22px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
    border-radius: 0;
    
    @include respond-to(larg-screen) {font-size: 18px;}
    @include respond-to(l-tablet) {font-size: 16px;}
}

.section__form__input_small {
    padding: 32px 0 29px 18px;
    margin-bottom: 41px;
    
    @include respond-to(larg-screen) {
        padding: 28px 0 25px 18px;
        margin-bottom: 31px;
    }
    
    @include respond-to(medium-screen) {padding: 24px 0 22px 18px;}
    @include respond-to(l-tablet) {
        padding: 18px 0 17px 18px;
        margin-bottom: 20px;
    }
}

.section__form__input_big {
    padding: 20px 0 190px 18px;
    margin-bottom: 39px;
    
    @include respond-to(larg-screen) {
        padding: 18px 0 120px 18px;
        margin-bottom: 25px;
    }
    
    @include respond-to(medium-screen) {
        padding: 18px 0 130px 18px;
        margin-bottom: 25px;
    }
}

.section__form__input__btn {
    background: $black;
    border: 0;
    padding: 31px 0 30px 0;
    color: $white;
    
    @include respond-to(larg-screen) {padding: 28px 0 25px 0;}
    @include respond-to(medium-screen) {padding: 25px 0 23px 0;}
    @include respond-to(l-tablet) {padding: 18px 0 17px 0;}
}


.section__col--contact-details {
    width: 16.71875%;
    height: auto;
    padding-top: 55.85107421875%;
    position: relative;
    
    @include respond-to(small-screen) {padding-top: 61.7%;}
    @include respond-to(p-tablet) {display: none;}
}


.section__col--contact-details__map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.section__col--contact-details__map:after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.clear-overlay_is-active:after {
    content: none;
}

.section__col--contact-details__info {
    @extend .section__col--process-details__info;
}

.section__side-text__icon {
    position: relative;
    top: 31px;
    
    @include respond-to(larg-screen) {top: 25px;}
    @include respond-to(l-tablet) {top: 20px;}
}

.pin-icon {
    width:64px;
    height: 82px;
    
    @include respond-to(larg-screen) {
        width:54px;
        height: 72px;
    }
    
    @include respond-to(l-tablet) {
        width:44px;
        height: 62px;
    }
}