.website-nav {
    display: none;
}

.website-nav_is-active {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 16.71875%;
    display: block;
    background-color: $white;
    
    @include respond-to(p-tablet) {width: 100%;}
    
}

.website-nav__close-icon {
    width: 19px;
    height: 19px;
    margin-left: 54px;
    position: relative;
    top: 57px;
    
    @include respond-to(xlarg-screen) {margin-left: 40px;}
    @include respond-to(larg-screen) {margin-left: 20px;}
    @include respond-to(p-tablet) {top: 30px;}
}

.website-nav__main-menu {
    list-style-type: none;
    padding: 0;
    margin: 152px 0 0 54px;
    font-family: $title;
    text-transform: uppercase;
    
    @include respond-to(xlarg-screen) {margin:152px 0 0 40px;}
    @include respond-to(larg-screen) {margin:152px 0 0 20px;}
    @include respond-to(l-tablet) {margin: 110px 0 0 20px;}
    @include respond-to(p-tablet) {
        text-align: center;
        margin: 30px 0 0 10px;
    }
}

.website-nav__main-menu__item {
    font-size: 30px;
    color: $black;
    margin-bottom: 12px;
    line-height: 35px;
    cursor: pointer;
    
    @include respond-to(larg-screen) {
        font-size: 26px;
        line-height: 30px;
    }
    
    @include respond-to(small-screen) {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 12px;
    }
    
    @include respond-to(l-tablet) {
        font-size: 18px;
        margin-bottom: 5px;
        line-height: 20px;
    }
    
    @include respond-to(p-tablet) {line-height: 20px;}
}


.website-nav__main-menu__item_selected {
    color: #e21318;
}

.website-nav__footer {
    margin-top: 375px;
    
    @include respond-to(xlarg-screen) {margin-top: 250px;}
    @include respond-to(larg-screen) {margin-top: 150px;}
    @include respond-to(medium-screen) {margin-top: 100px;}
    @include respond-to(l-tablet) {margin-top: 80px;}
    @include respond-to(p-tablet) {
        text-align: center;
        margin-top: 35px;
    }
}

.website-nav__contacts {
    font-family: $title;
    font-size: 16px;
    color: $black;
    margin-left: 54px;
    line-height: 19px;
    
    @include respond-to(xlarg-screen) {margin-left: 40px;}
    @include respond-to(larg-screen) {margin-left: 20px;}
    @include respond-to(l-tablet) {
        font-size: 14px;
        line-height: 17px;
    }
}

.website-nav__contacts__item {
    margin-top: 36px;
    
    @include respond-to(larg-screen) {margin-top: 26px;}
    @include respond-to(l-tablet) {margin-top: 20px;}
}


.website-nav__contacts__item_small {
    font-family: $small-body;
    margin-top: 1px;
}

.website-nav__social {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 0;
    
    @include respond-to(p-tablet) {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
    }
}

.website-nav__social__item {
    float: left;
    width: 25%;
    border-right: 1px solid #9b9b9b;
}

.website-nav__social__item:last-child {
    border: 0;
}

.website-nav__social__item_bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    
    @include respond-to(l-tablet) {margin-bottom: 10px;}
}


.facebook {
    background-image: url(../images/facebook.png);
}

.twitter {
    background-image: url(../images/twitter.png);
}

.pintrest {
    background-image: url(../images/pintrest.png);
}

.instagram {
    background-image: url(../images/instagram.png);
}
