.website-nav {
    display: none;
}

.website-nav_is-active {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    display: block;
    background-color: $white;
    
    @include respond-to(landscape-tablet) {width: 16.71875%;}
}

.website-nav__close-icon {
    position: relative;
    width: 19px;
    height: 19px;
    top: 30px;
    margin-left: 20px;
    
    @include respond-to(large-screen) {
        margin-left: 40px;
        top: 57px;
    }
    
    @include respond-to(xlarge-screen) {margin-left: 54px;}
}


.website-nav__main-menu {
    font-family: $title;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 30px 0 0 10px;
    
    @include respond-to(landscape-tablet) {
        margin: 110px 0 0 20px;
        text-align: left;
    }
    @incldue respond-to(xsmall-screen) {margin:152px 0 0 20px;}
    @include respond-to(large-screen){margin:152px 0 0 40px;}
    @include respond-to(xlarge-screen){margin: 152px 0 0 54px;}
}

.website-nav__main-menu__item {
    color: $black;
    cursor: pointer;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    
    @include respond-to(landscape-tablet) {line-height: 20px;}
    @include respond-to(xsmall-screen){
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 12px;
    }
    
    @include respond-to(medium-screen) {
        font-size: 26px;
        line-height: 30px;
    }
    
    @include respond-to(large-screen) {
        font-size: 30px;
        line-height: 35px;
    }
}

.website-nav__main-menu__link:hover {
    color: #e21318; 
}

.website-nav__main-menu__link_selected {
    color: #e21318;
}

.website-nav__footer {
    text-align: center;
    margin-top: 35px;
    @include respond-to(landscape-tablet) {
        text-align: left;
        margin-top: 80px;
    }
    @include respond-to(xsmall-screen) {margin-top: 100px;}
    @include respond-to(medium-screen) {margin-top: 150px;}
    @include respond-to(large-screen) {margin-top: 250px;}
}

.website-nav__contacts {
    font-family: $title;
    color: $black;
    font-size: 14px;
    line-height: 17px;
    margin-left: 20px;
    
    @include respond-to(landscape-tablet) {margin-left: 20px;}
    @include respond-to(xsmall-screen) {font-size: 16px; }
    
    @include respond-to(large-screen) {
        margin-left: 40px;
        line-height: 19px;
    }
    
    @include respond-to(xlarge-screen) {margin-left: 54px;}
    
}

.website-nav__contacts__item {
    margin-top: 20px;
    @include respond-to(xsmall-screen){margin-top: 26px;}
    @include respond-to(large-screen) {margin-top: 36px;}
}

.website-nav__contacts__item_small {
    font-family: $small-body;
    margin-top: 1px;
}

.website-nav__social {
    position: absolute;
    z-index: 3;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    
    @include respond-to(landscape-tablet) {
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateX(0);
    }
}

.website-nav__social__item {
    float: left;
    width: 25%;
    border-right: 1px solid #9b9b9b;
}

.website-nav__social__item:last-child {
    border: 0;
}

.website-nav__social__item_bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;;
    
    @include respond-to(xsmall-screen) {margin-bottom: 20px;}
}

.facebook {
    background-image: url(../images/facebook.png);
}

.twitter {
    background-image: url(../images/twitter.png);
}

.pintrest {
    background-image: url(../images/pintrest.png);
}

.instagram {
    background-image: url(../images/instagram.png);
}
