
.website-section--our-services {
     position: relative;
    width: 100%;
    float: left;
}

.section__col--services-info {
    width: 44.0625%;
    height: auto;
    padding: 116px 125px 0 148px;
}


@media screen and (max-width:1440px) {
    .section__col--services-info {
        padding: 96px 50px 0 80px;
    }
}

@media screen and (max-width:1366px) {
    .section__col--services-info {
        padding: 100px 50px 0 80px;
    }
}

@media screen and (max-width:1024px) {
    .section__col--services-info {
        padding: 68px 40px 0 40px;
    }
}

@media screen and (max-width:768px) {
    .section__col--services-info {
        width: 100%;
        padding: 40px 40px 20px 40px;
    }
}

@media screen and (max-width:736px) {
    .section__col--services-info {
        padding: 40px 40px 20 20px;
    }
}

.section__header {
    margin-bottom: 20px;
}

.section__main-title {
    font-family: $Bold;
    font-size: 34px;
    line-height: 1.18;
    text-transform: uppercase;
    text-align: left;
}

.section__main-title:before {
    content: '';
    width: 56px;
    height: 4px;
    background-color: #E21318;
    display: block;
    margin-bottom: 20px;
}

@media screen and (max-width:1024px) {
    .section__main-title:before {
        height: 3px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:480px) {
    .section__header {
        margin-bottom: 10px;
    }
}

.white-text {
    color: #ffffff;
}

.black-text  {
    color: #4a4a4a;
}

.section__excerpt {
    font-family: $Light;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    text-align: left;
    margin-bottom: 26px;
    max-width: 562px;
}

.section__desc {
    font-family: $Light;
    font-size: 24px;
    line-height: 34px;
    max-width: 521px;
}

@media screen and (max-width:1440px) {
    .section__main-title  {
        font-size: 30px;
    }

    .section__excerpt {
        font-size: 32px;
        line-height: 38px;
        max-width: 450px;
    }

    .section__desc {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width:1366px) {
    .section__main-title {
        font-size: 26px;
    }

    .section__excerpt {
        font-size: 30px;
        line-height: 34px;
    }

    .section__desc {
        font-size: 20px;
        line-height: 26px;
    }
}

@media screen and (max-width:1024px) {
    .section__main-title {
        font-size: 22px;
    }

    .section__excerpt {
        font-size: 24px;
        line-height: 28px;
        max-width: 350px;
    }

    .section__desc {
        line-height: 24px;
        font-size: 18px;
    }
}

@media screen and (max-width:736px) {
    .section__excerpt {
        font-size: 22px;
        line-height: 24px;
        max-width: 450px;
        margin-bottom: 15px;
    }

    .section__desc {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width:480px) {
    .section__excerpt {
        font-size: 20px;
        line-height: 22px;
        max-width: 450px;
        margin-bottom: 15px;
    }

    .section__desc {
        font-size: 16px;
        line-height: 20px;
        max-width: 440px;
    }
}



.section__col--services-list {
    width: 39.21875%;
    height: auto;
    border-left: 1px solid #9b9b9b;
}

@media screen and (max-width:768px) {
    .section__col--services-list {
        width: 100%;
    }
}

.services-list__item {
    padding: 88px 0 88px 97px;
    border-bottom: solid 1px #9b9b9b;
}

.services-list__item:last-child {
    border-bottom: none;
}

.services-list__icon {
    display: inline-block;
    margin-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: center;
}

.icon--cutting {
    background-image: url(../images/cutting.svg);
    width: 88px;
    height: 87px;
}

.icon--edge {
    background-image: url(../images/edge.svg);
    width: 88px;
    height: 54px;
}

.icon--drilling {
    background-image: url(../images/drilling.svg);
    width: 86px;
    height: 76px;
}

.icon--specialized {
    background-image: url(../images/specialized.svg);
    width: 91px;
    height: 57px;
}

.services-list__text {
    font-family: $Bold;
    font-size: 35px;
    color: #414244;
    display: inline-block;
    vertical-align: middle;
    line-height: 43px;
}

.services-list__text_small {
    font-size: 20px;
    line-height: 46px;
}


@media screen and (max-width:1680px) {
    .services-list__item {
        padding: 71px 0 71px 70px;
    }
}

@media screen and (max-width:1440px) {

    .services-list__item {
        padding: 59px 0 59px 70px;
    }

    .services-list__icon {
        margin-right: 20px;
    }

    .services-list__text  {
        font-size: 28px;
        line-height: 35px;
    }
}

@media screen and (max-width:1366px) {
    .services-list__item {
        padding: 58px 0 58px 54px
    }

     .services-list__text  {
        font-size: 24px;
         line-height: 28px;
    }

     .services-list__text_small {
        line-height: 38px;
    }
}

@media screen and (max-width:1280px) {
    .services-list__item {
        padding: 55px 0 56px 40px;
    }

    .icon--cutting {
        width: 74px;
        height: 68px;
    }

    .icon--edge {
        width: 76px;
        height: 43px;
    }

    .icon--drilling {
        width: 77px;
        height: 64px;
    }

    .icon--specialized {
        width: 75px;
        height: 46px;
    }
}

@media screen and (max-width:1024px) {
    .services-list__item {
        padding: 43px 0 43px 25px;;
    }

    .services-list__text {
        font-size: 18px;
        line-height: 22px;
    }

    .services-list__text_small {
        font-size: 14px;
        line-height: 25px;
    }

    .icon--cutting {
        width: 70px;
        height: 65px;
    }

    .icon--edge {
        width: 72px;
        height: 40px;
    }

    .icon--drilling {
        width: 71px;
        height: 60px;
    }

    .icon--specialized {
        width: 70px;
        height: 42px;
    }
}

@media screen and (max-width:768px) {
    .services-list__item {
        padding: 24px 0 23px 35px;
        border-bottom: 0;
        border-top: 1px solid #9b9b9b;
    }
}

@media screen and (max-width:736px) {
    .services-list__item {
        padding: 20px 0 19px 15px;
    }

    .services-list__icon {
        margin-right: 10px;
    }

    .icon--cutting {
        width: 67px;
        height: 62px;
    }

    .icon--edge {
        width: 69px;
        height: 38px;
    }

    .icon--drilling {
        width: 68px;
        height: 57px;
    }

    .icon--specialized {
        width: 67px;
        height: 39px;
    }
}

.section__col--service-details {
    width: 16.71875%;
    height: auto;
    background-image: url(../images/service-side-bg.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-top: 55.85107421875%;
    position: relative;
    @extend .multiply-blend-bg;
}

@media screen and (max-width:768px) {
    .section__col--service-details {
        display: none;
    }
}

.section__col--service-details__info-wrapper {
    display: none;
}
