/* main.scss */

// #1 Utilities
@import "utils/vars";
@import "utils/placeholders";
@import "utils/mixins";

// #2 Base
@import "base/reset";
@import "base/fonts";
@import "base/base";

// #3 Layout
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/layout";

// #4 Modules
@import "components/main-nav";
@import "components/active";
@import "components/services";
@import "components/process";
@import "components/contact";

.multiply-blend-bg {
    background-blend-mode: multiply;
    background-color: #4A4A4A;
}

main {
    width: 100%;
    height: auto;
    float: left;
}

.section__col {
    float: left;
}

