/* base/_fonts.scss */

// Title Fonts
@font-face {
  font-family: $title;
  // src: url('../fonts/fontname.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

// Body Fonts
@font-face {
  font-family: $body;
  // src: url('../fonts/fontname.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../fonts/Roboto-Regular.ttf) format('opentype');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: Roboto-Bold;
    src: url(../../fonts/Roboto-Bold.ttf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Black;
    src: url(../../fonts/Roboto-Black.ttf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../../fonts/Roboto-Light.ttf) format('opentype');
    font-style: normal;
    font-weight: normal;
}