/* base/_fonts.scss */

// Title Fonts
@font-face {
  font-family: $title;
  // src: url('../fonts/fontname.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

// Body Fonts
@font-face {
  font-family: $body;
  // src: url('../fonts/fontname.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
